#buds{
    border-color:5px solid black ;
    background-color: #fdaa42;
    border-radius: 10px;
   
}
#flower{
    border-color:5px solid black ;
    background-color: #fdaa42;
    border-radius: 10px;
    
}

#image{
    border-radius: 30px;
    border: 2px solid black;
}
body{
    background-color:#d43f66 ;
}